.swiper {
  width: 90%;
  height: 60%;
}

.swiper-slide {
  background: none;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: transform 300ms ease 100ms;
}
.swiper-slide:hover {
  transform: translateX(-5%);
}
.swiper-slide:hover ~ .swiper-slide {
  transform: translateX(5%);
}
.swiper-slide:hover {
  transform: scale(1.1) !important;
}
.swiper-slide .texto {
  display: flex;
  position: absolute;
  bottom: -10%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}
.swiper-slide .texto {
  position: absolute;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-button-prev {
  width: 5%;
  color: black;
  left: -1%;
  opacity: 50%;
}

.swiper-button-next {
  width: 5%;
  color: black;
  right: -1%;
  opacity: 50%;
}

@media only screen and (min-width: 1140px) {
  .swiper-slide .texto {
    display: none;
    width: 100%;
    height: 0vh;
  }
  .swiper-slide .texto {
    display: flex;
    position: absolute;
    bottom: 5%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding-top: 3em;
    transition: height 300ms ease 100ms;
  }
}
