@font-face {
  font-family: "MontserratBold";
  src: local("MontserratBold"),
    url(../fonts/Montserrat-SemiBold.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "MontserratMedium";
  src: local("MontserratMedium"),
    url(../fonts/Montserrat-Medium.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "MontserratLight";
  src: local("MontserratLight"),
    url(../fonts/Montserrat-Light.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "WaverlyBold";
  src: local("WaverlyBold"), url(../fonts/Waverly-bold.otf) format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "WaverlyExtra";
  src: local("WaverlyExtra"),
    url(../fonts/Waverly-extrabold.otf) format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "WaverlyHeavy";
  src: local("WaverlyHeavy"), url(../fonts/Waverly-heavy.otf) format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "WaverlyLight";
  src: local("WaverlyLight"), url(../fonts/Waverly-light.otf) format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "WaverlyMedium";
  src: local("WaverlyMedium"),
    url(../fonts/Waverly-medium.otf) format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "WaverlySemi";
  src: local("WaverlySemi"),
    url(../fonts/Waverly-semibold.otf) format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "WaverlyThin";
  src: local("WaverlyThin"), url(../fonts/Waverly-thin.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Branch";
  src: local("Branch"), url(../fonts/Branch.ttf) format("truetype");
  font-display: swap;
}
