@font-face {
  font-family: "MontserratBold";
  src: local("MontserratBold"),
    url(../fonts/Montserrat-SemiBold.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "MontserratMedium";
  src: local("MontserratMedium"),
    url(../fonts/Montserrat-Medium.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "MontserratLight";
  src: local("MontserratLight"),
    url(../fonts/Montserrat-Light.ttf) format("truetype");
  font-display: swap;
}
