.mastheadHome {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.logo-web {
  display: none;
}
.logo-movil {
  display: flex;
}
.phone {
  display: flex;
  width: calc(25px + 2vh);
}
.gift-movil {
  display: flex;
  position: fixed;
  width: calc(35px + 2vh);
  right: -10px;
}
.gift-web {
  display: none;
}
.circle {
    
  display: flex;
  width:100%;
}

.container{
  background-color: none;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;

}

.LogoPrincipal{
  background-color: none;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 1140px) {
  .logo-web {
    display: flex;
    width: 100%;
  }
  .logo-movil {
    display: none;
  }
  .phone {
    display: none;
  }
  .gift-movil {
    display: none;
  }
  .gift-web {
    display: flex;
    width: calc(25px + 2vh);
  }
  .circle {
    display: flex;
    width: 100%;
  }
}
