.mastheadHome {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.logo-web {
  display: none;
}
.CTVTS {
  width: 70%;
}

.logo-footer {
  display: flex;
  width: 80%;
}
.logo-movil {
  display: flex;
}
.phone {
  display: flex;
  width: calc(25px + 2vh);
}
.gift-movil {
  display: flex;
  width: calc(80% + 2vh);
  right: -10px;
}
.gift-web {
  display: none;
}
.circle {
  display: flex;
  width: 100%;
  transform: scale(0.8);
}

.container {
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 35%;
  top: -35%;
}

.LogoPrincipal {
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.contProduct {
  position: absolute;
  background: none;
  box-sizing: border-box;
  transition: 400ms;
}
.contProduct:hover {
  box-sizing: border-box;
  transition: 400ms;
  transform: translateY(-20px) scale(1.1) rotate(-2deg);
}

.imgProduct {
  display: block;
  box-sizing: border-box;
  transition: 400ms;
}
.imgProduct:hover {
  box-sizing: border-box;
  transition: 400ms;
}
.flecha {
  transform: rotate(-90deg);
}
.product {
  display: flex;
  width: 80%;
}
.HomeWD1 {
  display: none;
}
.HomeWD2 {
  position: absolute;
  transform: translate(10%, -10%) scale(2);
}

.Skin {
  position: absolute;
  transform: translate(80%, -10%) scale(1.4);
}
.Favorite {
  position: absolute;
  transform: scale(0.8);
}

.Maps {
  position: absolute;
  display: flex;
  width: 100%;
  height: 40%;
  top: 20%;
}
.SkinSvg {
  position: absolute;
  transform: translate(0%, -35vh);
  width: 90%;
}
.ProductsSvg {
  display: none;
}
.ProductsSvgMovil {
  display: flex;
  position: absolute;
  transform: translate(-55%, 25%) scale(1.08);
  width: 90vw;
}
.Hair {
  transform: translate(-60%, 0%) scale(1.3);
}
.HairSvg {
  position: absolute;
  transform: translate(0%, -20vh);
  width: 90%;
}

@media only screen and (min-width: 480px) {
  
  .gift-movil {
    display: flex;
    position: fixed;
    width: calc(7% + 2vh);
    right: -10px;
  }
  .gift-web {
    display: none;
  }
  
  .circle {
    display: flex;
    width: 100%;
    transform: scale(1.3);
  }

  .HomeWD2 {
    position: absolute;
    transform: translate(-20%, 10%) scale(1.9);
  }

  .Skin {
    position: absolute;
    transform: translate(50%, 0%) scale(1.4);
  }

  .Hair {
    transform: translate(-45%, -20%) scale(1.3);
  }

  .Favorite {
    position: absolute;
    transform: translate(0%, 5%) scale(0.77);
  }

  .ProductsSvgMovil {
    display: flex;
    position: absolute;
    transform: translate(-55%, 15%) scale(1.03);
    width: 90vw;
  }

  .logo-footer {
    display: flex;
    width: 70%;
    transform: translate(0%, 40%);

  }

}

@media only screen and (min-width: 1140px) {
  .logo-web {
    display: flex;
    width: 100%;
  }
  .logo-movil {
    display: none;
  }
  .logo-footer {
    display: flex;
    width: 50%;
    transform: scale(0.8);
  }
  .phone {
    display: none;
  }
  .gift-movil {
    display: none;
  }
  .gift-web {
    display: flex;
    width: calc(40% + 2vh);
  }
  .container {
    left: -30%;
    top: auto;
  }
  .circle {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .Maps {
    display: flex;
    width: 60%;
    height: 60vh;
    right: 0;
    top: auto;
  }

  .HomeWD1 {
    display: flex;
    position: absolute;
    transform: translate(-50%, 30%);
  }
  .HomeWD2 {
    position: absolute;
    transform: translateY(-15%) scale(1.4);
  }

  .SkinSvg {
    position: absolute;
    transform: translate(10%, -120%);
    width: 60vw;
  }
  .Skin {
    position: absolute;
    transform: translate(-20%, 20%) scale(1.4);
  }
  .Hair {
    transform: translate(-80%, 20%) scale(1);
  }
  .HairSvg {
    position: absolute;
    transform: translate(10%, -120%);
    width: 60vw;
  }
  .Favorite {
    position: absolute;
    transform: scale(0.39);
  }
  .ProductsSvg {
    display: flex;
    position: absolute;
    transform: translate(1%, 20%) scale(1.08);
    width: 60vw;
  }

  .ProductsSvgMovil {
    display: none;
  }
}

@media only screen and (min-width: 1370px) {
  .gift-web {
    width: calc(2% + 1vh);
  }

  .HomeWD1 {
    transform: translate(-60%, 20%) scale(0.8);
  }
  .HomeWD2 {
    transform: translate(-5%, -15%) scale(1);
  }

  .Skin {
    position: absolute;
    transform: translate(-40%, 20%) scale(1);
  }

  .SkinSvg {
    position: absolute;
    transform: translate(5%, -20vh) scale(0.6);
    width: 90%;
  }

  .Hair {
    transform: translate(-60%, 20%) scale(0.8);
  }

  .HairSvg {
    position: absolute;
    transform: translate(5%, -20vh) scale(0.6);
    width: 90%;
  }

  .ProductsSvg {
    display: flex;
    position: absolute;
    transform: translate(1%, 20%) scale(1.08);
    width: 60vw;
  }

  .Favorite {
    position: absolute;
    transform: scale(0.7);
  }
}
