.mastheadHome {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.scroll {
  display:none;
}
.scroll-movil {
  display:block;
  width: auto;
  height: 40%;
  transform: translateX(-100%);
}

.logo-web {
  display: none;
}
.CTVTS {
  width: 100%;
}

.logo-footer {
  display: flex;
  width: 80%;
}
.logo-movil {
  display: flex;
}
.phone {
  display: flex;
  width: calc(25px + 2vh);
}
.gift-movil {
  display: flex;
  width: 100%;
  height: auto;
  transform: translateX(20%);
}
.gift-movil-store {
  display: flex;
  width: 100%;
  height: auto;
  transform: translateX(20%);
}
.gift-web {
  display: none;
}
.circle {
  display: none;
}
.circle-movil {
  display: flex;
  width: 100%;
  transform: scale(0.8);
}

.container {
  background-color: none;
  width: 60%;
  display: block;
  position: absolute;
  right: -10%;
  top: -15%;
}

.LogoPrincipal {
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.contProduct {
  position: absolute;
  background: none;
  top: 0%;
}

.flecha {
  transform: rotate(-90deg);
}
.product {
  display: flex;
  width: 80%;
}
.HomeWD1 {
  display: none;
}
.HomeWDMovil img{
  height: 100% ;
  width: auto;

}
.gift{
  height: 100% ;
  width: auto;

}
.HomeWD2 {
  display: none;
}

.Skin {
  position: absolute;

}
.Favorite {
  width: 38%;
}

.SkinSvg {
  display:flex;
  justify-content: center ;
  align-items: center;
}
.ProductsSvg {
  display: none;
}
.ProductsSvgMovil {
  width: 90%;
}
.Hair {
  position: absolute;
}
.HairSvg {
  display:flex;
  justify-content: center ;
  align-items: center;
}

.imgSalon{
  display: none;
}

.imgSalonMovil{
  display: flex;
  width: 100%;}

.imgArcoMovil{
  display: flex;
  width: 100%;}

  .imgArco{
    display: none;}
  
.imgArcoWeb{
    display: none;}

.imgMV{
      display: none;}


@media only screen and (min-width: 480px) {
  .gift-movil {
    width: 100%;
    height: 100%;
  }

.imgArcoMovil{
  display: none;}

.imgArco{
  display: flex;
  width: 100%;}

  .imgMV{
    display: flex;
    width: 100%;}

  .imgSalon{
    display: flex;
    width: 100%;
  }
  
  .imgSalonMovil{
    display: none;
  }

  .circle-movil {
    transform: scale(0.8);
  }


  .Skin {
    position: absolute;
  }

  .Hair {
    position: absolute;
  }

  .Favorite {
    width: 35%;
  }

  .ProductsSvgMovil {
  width: 83vw;
  }

  .logo-footer {
    display: flex;
    width: 60%;
    transform: translate(0%, 0%);
  }
  .container {
    width: 50%;
    right: 0%;
  }
  .scroll-movil {
    transform: translateX(-200%);
  }
  .scroll {
    display: none;
  }
  .contProduct {
    position: absolute;
    background: none;
    top: 8%;
  }
  .HomeWDMovil img{
    width: auto;
    height: 100%;
  
  }
}

@media only screen and (min-width: 1140px) {
  .logo-web {
    display: flex;
    width: 100%;
  }
  .imgArcoWeb{
    display: flex;
    width: 100%;}

  .imgArco{
      display: none;}
    
  .imgMV{
    display: flex;
    width: 100%;}

  .logo-movil {
    display: none;
  }
  .logo-footer {
    display: flex;
    width: 50%;
    transform: scale(0.8);
  }
  .phone {
    display: none;
  }
  .gift-movil {
    display: none;
  }
  .gift-movil-store {
    display: none;
  }
  .gift-web {
    display: block;
    transform: translateX(10%);
    width: 100%;
    height: 100%;
  }
  .container {
    width: 100%;
    right: 30%;
    top: 30%;
  }
  .circle-movil {
    display: none;
  }
  .circle {
    display: flex;
    width: 100%;
    transform: scale(0.9);
  }

  .HomeWD1 {
    display: flex;
    position: absolute;
    transform: translate(-90%, 40%);
  }
  .HomeWDMovil {
    display: none;
  }
  .HomeWD2 {
    display: flex;
    position: absolute;
    transform: translate(50%, 0%) scale(1.3);
  }

  .SkinSvg {
    position: absolute;
    transform: translate(35%, -120%);
    width: 60vw;
  }
  .Skin {
    position: absolute;
  }
  .Hair img{
    transform: translate(60%, 0%);
  }
  .HairSvg {
    position: absolute;
    transform: translate(5%, -120%);
    width: 60vw;
  }
  .Favorite {
    width: 23%;
  }
  .ProductsSvg {
    display: flex;
    width: 81%;
    transform: translateX(1%);
  }

  .ProductsSvgMovil {
    display: none;
  }
  .scroll-movil {
    display: none;
  }
  .scroll {
    display:block;
    width: auto;
    height: 40%;
    transform: translateX(300%);
  }
  .CTVTS {
    width: 80%;
    transform: translate(-10%, -20%);
  }
}

@media only screen and (min-width: 1370px) {
  .HomeWD1 {
    transform: translate(-90%, 40%)  scale(0.8);
  }
  .HomeWD2 {
    transform: translate(80%, 0%) scale(1);
  }

  .Skin {
    position: absolute;
  }

  .SkinSvg {
    position: absolute;
    transform: translate(20%, -25vh) scale(0.6);
    width: 90%;
  }

  .Hair {
  }

  .HairSvg {
    position: absolute;
    transform: translate(-10%, -25vh) scale(0.6);
    width: 90%;
  }

  .ProductsSvg {
    display: flex;
    position: absolute;
    transform: translate(1.25%, 20%) scale(1.15);
    width: 60vw;
  }

  .Favorite {
    width: 20%;
  }
  .circle {
    display: flex;
    width: 100%;
    transform: scale(1.3);
  }
  .container {
    right: 50%;
    width: 60%;
  }
  .CTVTS {
    width: 70%;
    transform: translate(-10%, 50%);
  }
  .logo-footer {
    display: flex;
    width: 35%;
    transform: scale(0.8) translate(0, -35%);
  }
}
