.mastheadHome {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.logo-web {
  display: none;
}
.logo-movil {
  display: flex;
}
.phone {
  display: flex;
  width: calc(25px + 2vh);
}
.gift-movil {
  display: flex;
  position: fixed;
  width: calc(8% + 2vh);
  right: -10px;
}
.gift-web {
  display: none;
}
.circle {
  display: flex;
  width: 100%;
}

.container {
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 35%;
  top: -35%;
}

.LogoPrincipal {
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.contProduct {
  position: absolute;
  background: none;
  box-sizing: border-box;
  transition: 400ms;
}
.contProduct:hover {
  box-sizing: border-box;
  transition: 400ms;
  transform: translateY(-20px) scale(1.1) rotate(-2deg);
}

.imgProduct {
  display: block;
  box-sizing: border-box;
  transition: 400ms;
}
.imgProduct:hover {
  box-sizing: border-box;
  transition: 400ms;
}
.flecha {
  transform: rotate(-90deg);
}
.product {
  display: flex;
  width: 80%;
}
.HomeWD1 {
  display: none;
}
.HomeWD2 {
  position: absolute;
  transform: translateY(0%) scale(0.9);
}

.Skin {
  position: absolute;
  transform: translate(-20%, 30%) scale(1.4);
}
.Favorite {
  position: absolute;
  transform: scale(1.2);
}
.Hair {
  position: absolute;
  transform: translate(35%, 30%) scale(1.4);
}
.SkinSvg {
  position: absolute;
  transform: translate(10%, -100%);
  width: 60vw;
}
.HairSvg {
  position: absolute;
  transform: translate(-10%, -100%);
  width: 60vw;
}

@media only screen and (min-width: 1140px) {
  .logo-web {
    display: flex;
    width: 100%;
  }
  .logo-movil {
    display: none;
  }
  .phone {
    display: none;
  }
  .gift-movil {
    display: none;
  }
  .gift-web {
    display: flex;
    position: fixed;
    width: calc(2% + 2vh);
  }
  .container {
    left: -30%;
    top: auto;
  }
  .circle {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .HomeWD1 {
    display: flex;
    position: absolute;
    transform: translate(-50%, 30%);
  }
  .HomeWD2 {
    position: absolute;
    transform: translateY(-15%) scale(1.4);
  }
}
