.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

@keyframes headertransition {
  0% {
    transform: scale(1) translateY(0px);
  }
  50% {
    transform: scale(1.1) translateY(5%);
  }
  75% {
    transform: scale(1.2) translateY(-5%);
  }
  100% {
    transform: scale(1) translateY(0px);
  }
}

.fondo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  transition: none;
  animation: none;
}

@media (min-width: 1140px) {
  .fondo {
    transition: all 0.1s ease-in-out;
    animation: headertransition 60s linear 10ms infinite;
  }
}
